*{
    outline: 2px solid red;
}
.sections{
    display: flex;
    flex-direction: column;
}
.section1 {
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto';
    font-size: 48px ;
    display: flex;
    justify-content: space-around;
    }
.hLineSec1{
    font-size: 48px;
    font-weight: 900;
}
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}
#imgsec1{
width: 240px;
}
.header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list{
    color: #e5e7eb;
    font-size: 18px;
    display: flex;   
    justify-content: space-between;
    
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
a{
    color: #f9faf8;
    text-decoration: none; 
}
.signup{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.figures {
    align-items: baseline;
    display: flex;
   
}
.imgsec2{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.section3{
    background-color: #e5e7eb;
    
    padding: 100px;
}
.autor{
    display: flex;
    justify-content: end;
}
.section4{
    background-color: #3882f6;
    color: #e5e7eb;
  border: 100px solid white;
  padding: 20px;
 

    display: flex;
    justify-content: center;
}

